<div id="main-container">
  <app-spinner *ngIf="loading" [locationNotFound]="locationNotFound"></app-spinner>
  <app-drawer id="drawer"></app-drawer>
  <div id="information-container">
    <app-forecast *ngIf="!loading" class="information"></app-forecast>
    <div class="information">
      <h3>Today's Hightlights</h3>
      <div *ngIf="!loading" id="moreInformation">
        <div>
          <h4>Wind status</h4>
          <p><span class="letter">{{weatherData.list[0].wind.speed}} </span>mph</p>
        </div>
        <div>
          <h4>Humidity</h4>
          <p><span class="letter">{{weatherData.list[0].main.humidity}} </span>%</p>
        </div>
        <div>
          <h4>Visibility</h4>
          <p><span class="letter">{{(weatherData.list[0].visibility)/1000|number: ".1-1"}} </span>miles</p>
        </div>
        <div>
          <h4>Air pressure</h4>
          <p><span class="letter">{{weatherData.list[0].main.pressure}} </span>mb</p>
        </div>
      </div>
    </div>
  </div>
</div>
